.box {
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 10px;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: lightcyan;
    cursor: grab;
}
