.puzzle-box-container {
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 10px 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puzzle-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
