.puzzle-answer {
    border: 1px solid gray;
    box-sizing: border-box;
    margin-bottom: 80px;
    min-height: 400px;
    flex-grow: 3;
}

.puzzle-answer p {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 20px;
}
