.puzzle-box-container {
    border: 1px solid gray;
    box-sizing: border-box;
    max-height: 200px;
    padding: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
